
$font-path: "../assets/fonts";
$app-direction: ltr;
@import "ionic.globals";
@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";

$colors: (
  primary:    rgb(0, 0, 0),
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  start:      rgb(204, 112, 0),
  main:       #FF8C00
);

$font-size: (
  big: 40px
);

$tabs-ios-tab-icon-color: #000000;
$tabs-ios-tab-icon-color-active: #ffffff;
$tabs-md-tab-icon-color: #000000;
$tabs-md-tab-icon-color-active: #ffffff;

