<ion-menu [content]='nav'>
    <ion-header>
        <ion-navbar no-padding class="sideMenuStyle" style="height: 100px">
            <ion-title no-padding>
                <ion-grid no-padding>
                    <ion-row no-padding>
                        <ion-col col-3>
                            <img alt="logo" height="70" width="45" weigh src="../assets/imgs/jacek.jpg">
                        </ion-col>
                        <ion-col col-9>
                            <h6 style="color: #f4f4f4">
                                Jacek Szyper <br>
                                jacekszyper@gmail.com
                            </h6>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-title>
        </ion-navbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <button ion-item icon-left (click)="onLoad(rootPage)" *ngIf="isAuthenticated">
                <ion-icon name="home">
                </ion-icon>
                Home
            </button>
            <button ion-item icon-left (click)="onLoad(workoutPageL)" *ngIf="isAuthenticated">
                <ion-icon name="play">
                </ion-icon>
                Workout
            </button>
            <button ion-item icon-left (click)="onLoad(messagesPageL)" *ngIf="isAuthenticated">
                <ion-icon name="notifications-outline">
                </ion-icon>
                Messages
            </button>
            <button ion-item icon-left (click)="onLoad(settingsPageL)" *ngIf="isAuthenticated">
                <ion-icon name="settings">
                </ion-icon>
                Settings
            </button>
            <button ion-item icon-left (click)="onLoad(loginPageL)" *ngIf="!isAuthenticated">
                <ion-icon name="log-in">
                </ion-icon>
                Login
            </button>
            <button ion-item icon-left (click)="onLoad(signupPageL)" *ngIf="!isAuthenticated">
                <ion-icon name="person">
                </ion-icon>
                Sign Up
            </button>
            <button ion-item icon-left (click)="onLoad(logoutPageL)" *ngIf="isAuthenticated">
                <ion-icon name="log-out">
                </ion-icon>
                Logout
            </button>
            <hr>
            <p padding>Others</p>
            <button ion-item icon-left (click)="onLoad(aboutUsPageL)">
                <ion-icon name="man">
                </ion-icon>
                About Me
            </button>
            <button ion-item icon-left (click)="onLoad(privacyPageL)">
                <ion-icon name="lock">
                </ion-icon>
                Privacy
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #nav></ion-nav>