ion-header{
    .toolbar-background {
        background-color:#FF8C00;
      }
}  
.sideMenuStyle {
    div.toolbar-background{
        background-image: url('../assets/imgs/ekranpowitalny.png')!important;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}



